@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Fraunces', serif;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0;
}

nav {
    background-color: rgb(46, 44, 45);
}

nav .brand-logo {
    padding: 0 15px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.navlink a {
    font-size: 18px;
}

nav ul li.active {
    background-color: rgba(250,250,250,0.2);
}

nav ul li.active a {
    color: goldenrod;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#title {
    padding: 0 10px;
    font-size: 25px;
}

.sunflower {
    height: 40px;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    to{ transform: rotate(360deg); }
}

.page-footer {
    background-color: rgb(46, 44, 45);
}

#home-header {
    height: 600px;
    background-image: url('../assets/artwork/sweetnectar_cassietaggart.jpg');
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.outer-box {
    display: block;
    background-color: none;
    height: 160px;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
}

.inner-box {
    background-color: rgb(46, 44, 45);
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline {
    text-align: center;
}

#expand_more {
    animation: bounce 2s infinite;
    font-size: 80px;
    margin-left: 100px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

h1 {
    margin: 5px 0 8px 0;
}

h4 {
    margin-top: 0;
}

.horizontal, .horizontal img {
    max-height: 300px;
}

audio {
    width: 90%;
}

audio:focus {
    outline: none;
}

#episodes-box {
    margin-top: -45px;
    margin-left: 10%;
    padding-bottom: 15px;
}

/* .episode-heading {
    margin-top: -20px;
} */

#latest-episode {
    display: flex;
}

#latest-episode-image {
    max-height: 500px;
}

#latest-episode-info {
    width: 50%;
    margin-left: 10px;
}