@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Fraunces', serif;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0;
}

h1 {
    margin-top: 0;
    color: goldenrod;

}

nav {
    position: absolute;
    background-color: rgba(46, 44, 45, 0.7);
}

nav .brand-logo {
    padding: 0 15px;
}

.page-footer {
    background-color: rgba(46, 44, 45, 0.7);
}

#home-header {
    height: 700px;
    background-image: url('../assets/artwork/sweetnectar_cassietaggart.jpg');
    background-size: 100%;
    background-position-y: 50%;
}

.home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    text-align: center;
}