/* GLOBAL STYLES */
@media only screen and (max-width: 680px) {
    .page-footer {
        height: 82px;
    }
    
    .page-footer .footer-copyright {
        display: block;
        text-align: center;
        height: 100%;
    }

    .page-footer .footer-copyright>p {
        display: block;
        margin: 0 auto;
    }

    #copyright, #admin-link {
        position:initial;
        left: initial;
        right: initial;
    }
}

@media only screen and (max-width: 580px) {
    #title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 380px) {
    #title {
        font-size: 19px;
    }
}

@media only screen and (max-width: 320px) {
    #title {
        font-size: 18px;
    }
}

/* HOME PAGE */
@media only screen and (max-width: 1010px) {
    .page-header {
        height: 79vh;
    }
    
    .headline-box {
        width: 100%;
        transform: translateY(0%);
    }

    #plays-box {
        margin: 75px 25px 0;
    }
}

@media only screen and (max-width: 861px) and (min-width: 644px) {
    .headline {
        font-size: 2.5vw;
    }

    #created-by {
        font-size: 13px;
    }
}

@media only screen and (max-width: 788px) {
    #latest-play {
        flex-direction: column;
    }

    #latest-play-photo, #latest-play-info {
        margin: 0 auto 20px;
    }

    #latest-play-info {
        padding: 0 15px;
    }

    h3 {
        text-align: center;
    }

    #past-plays-heading {
        margin-top: 15px;
    }

    .audio {
        width: 75%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 643px) {
    .page-header {
        height: 80vw;
    }

    .headline {
        font-size: 15px;
    }

    #created-by {
        font-size: 11px;
    }
}

@media only screen and (max-width: 586px) {
    #expand_more {
        display: none;
    }

    .headline {
        margin: 8px 15px;
    }
}

@media only screen and (max-width: 510px) {
    .flower {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    .page-header {
        height: 37vh;
    }

    #plays-box {
        margin-top: 65px;
    }
    
    #plays-box h3 {
        font-size: 22px;
    }

    .audio {
        width: 95%;
    }

    #latest-play-photo {
        width: 100%;
    }

    .card-image img {
        height: 29vh;
    }
}

/* ABOUT PAGE */
@media only screen and (max-width: 1080px) {
    .upper-about {
        margin: 25px 25px 0;
        justify-content: space-between;
    }

    .about-content {
        margin: 0 0 0 25px;
    }
}

@media only screen and (max-width: 1036px) {
    #art-credits {
        justify-content: center;
        margin-top: 2.5vh;
    }

    #creator-content {
        margin-top: 0;
    }
}

@media only screen and (max-width: 965px) {
    #backstory {
        margin: 3vh 6vh 0;
    }

    .upper-about {
        /* margin: 25px 25px 0; */
        justify-content: space-evenly;
    }

    .baby-image {
        width: 30vw;
    }

    #creator-container {
        flex-direction: column;
    }

    #creator-container h4 {
        margin-bottom: 0;
    }

    .creator-square {
        width: 100%;
        margin-bottom: 3vh;
    }
}


/* PERFORMERS PAGE */
@media only screen and (max-width: 1010px) {
    .performers-container {
        margin: 9vh auto 1.5vh;
        padding: 0 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    #performer-headline {
        font-size: 25px;
    }

    .performer-card {
        width: 100%;
    }

    .performers-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 470px) {
    #performer-chevron {
        display: none;
    }
    
    #performer-headline {
        font-size: 25px;
        font-weight: normal;
    }

    .performers-container {
        margin-top: 8vh;
    }

    .performer-card .card-content .card-title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 320px) {
    #performer-headline {
        font-size: 23px;
    }

    .performers-container {
        margin: 11vh auto 2vh;

    }
}

/* EPISODE PAGE */

