/* GLOBAL STYLES */
@media only screen and (max-width: 580px) {
    #title {
        font-size: 22px;
    }
}

/* HOME PAGE */
@media only screen and (max-width: 1010px) {
    .page-header {
        height: 79vh;
    }
    
    .headline-box {
        width: 100%;
    }

}

/* ABOUT PAGE */


/* PERFORMERS PAGE */


/* EPISODE PAGE */

