{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-header">
        <img src="{% static 'assets/artwork/flycatcher_cassietaggart.jpg' %}" alt="sweet nectar by cassie taggart" id="about-header" />
    </section>

    <div id="about-content">
        <div class="poem-container">
            <p id="poem">
                Tear open the warm belly of earth, plant a few seeds, or lay a bulb<br>
                and let’s see what human nature spews into the day,<br>
                or births sobbing into evening.<br><br>

                All it takes is a few minutes, and<br>
                seeds deprived of air and light,<br>
                then drowned and left below ground.<br><br>

                Only faintest warmth for comfort<br>
                in the cold hopeful bed<br>
                Ah Life, your garden reveals some awful secrets<br>
                and yields some Terrible Blooms.
            </p>
            <div id="backstory">
                <h5>A Friendship Garden</h5>
                <p>
                    <span id="tagline">A Garden of Terrible Blooms</span> is a passion project, born of two friends' love for theater: Sharon Yablon and Thomas Chan. Thomas has provided sound design and live music for two of Sharon’s themed, one-act productions: <span class="play-title">Stomach Contents</span> (Zombie Joe’s Underground Theater, 2018), which was set in the desert, and <span class="play-title">24 Hours On Sunset</span> (indoor and outdoor locations, 2011), which was an evening of one-acts centered around the iconic Sunset Boulevard. They have also worked together on individual plays and performances over the years in a variety of locations.
                </p>
            </div>
        </div>
    
        <div id="creators-headline">
            <img src="{% static 'assets/artwork/sunflower.png' %}" alt="sunflower" class="sunflower" />
            <h4>The Creators</h4>
            <img src="{% static 'assets/artwork/sunflower.png' %}" alt="sunflower" class="sunflower" />
        </div>
        
        <section id="creator-container">
            {% if creators.count > 0 %}
                {% for creator in creators %}
                    <div class="creator-square">
                        <h4>{{ creator.name }}</h4>
                        <h5>{{ creator.title }}</h5>
                        {{ creator.bio.html|safe }}
                        <div class="socials creator-contacts">
                            <a href="{{ creator.email }}">
                                <i class="far fa-envelope"></i>
                            </a>
                            <a href="{{ creator.website }}">
                                <i class="fas fa-user"></i>
                            </a>
                            <a href="{{ creator.facebook }}">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="{{ creator.twitter }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="{{ creator.instagram }}">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>Nothing to see here! Creator bios coming soon.</h5>
            {% endif %}
        </section>
    </div>
{% endblock %}
