{% extends 'index.html' %}
{% load static %}

{% block content %}
    <section class="upper-about">
        <script type="text/javascript">
            // load mobile/full resolution artwork
            if($(window).width() <= 450) {
                $(".baby-image").attr("src", "{% static 'assets/artwork/flycatcher_cassietaggart_mobile.jpg' %}");
            } else {
                $(".baby-image").attr("src", "{% static 'assets/artwork/flycatcher_cassietaggart.jpg' %}");
            }
        </script>
        <img src="{% static 'assets/artwork/flycatcher_cassietaggart.jpg' %}" alt="fly catcher by cassie taggart" class="baby-image z-depth-2" />
        <div class="about-content">
            <p id="poem">
                Tear open the warm belly of earth, plant a few seeds, or lay a bulb<br>
                and let’s see what human nature spews into the day,<br>
                or births sobbing into evening.<br><br>

                All it takes is a few minutes, and<br>
                seeds deprived of air and light,<br>
                then drowned and left below ground.<br><br>

                Only faintest warmth for comfort<br>
                in the cold hopeful bed<br>
                Ah Life, your garden reveals some awful secrets<br>
                and yields some Terrible Blooms.
            </p>
            <div id="backstory">
                <p>Welcome to a midnight tour of LA. Prepare for a sonic journey of words and music through dark alleys, siren-soaked Hollywood nights, the skies, coyote outskirts and dive bars. You could find yourself lost in the desert or the South Bay with a murdered Jane Doe, a middle-aged single, a police helicopter pilot, the wife of a mass murderer, or a cult escapee. These dark tales that border the dream and the waking worlds are all cast with talented actors from the vibrant Los Angeles theater community.</p>
            </div>
            <div id="art-credits">
                <img src="{% static 'assets/artwork/bluedahlia.png' %}" alt="dahlia" class="dahlia" />
                <div>
                    <p>Paintings by <a href="http://www.cassieart.com" rel="noopener" target="_blank">Cassie Taggart</a></p>
                    <p>Photos by Kevin O'Sullivan</p>
                </div>
                <img src="{% static 'assets/artwork/bluedahlia.png' %}" alt="dahlia" class="dahlia" />
            </div>
        </div>
    </section>

    <div id="creator-content">
        <div id="creators-headline">
            <h4>What Our Listeners Are Saying</h4>
        </div>
        
        <div id="quotes">
            <ul>
                <li>“I feel like I’m cruising along on a dark funhouse ride.”</li>
                <li>“These plays form a portrait of alienation in contemporary LA that would be very sad if it wasn’t kind of funny at the same time.”</li>
                <li>“All three plays blew my mind last night, and again this morning. Your work is such a turn on poetically, you really speak to the dark shadows of my television day dreams. Erotic, horrific humanity entertained by our own cannibalism.”</li>
                <li>“Love the worlds you created. Reminds me of one of my all time heroes, the late great Joe Frank.”</li>
                <li>"Grimy richness."</li>
                <li>“This is terrific! I insist you do many more.”</li>
                <li>“This has really stayed with me. The soundscape of the playwright’s soul and the soul of Los Angeles is woven together throughout.”</li>
                <li>"It’s wonderful to just bathe in the words.”</li>
                <li>“Boy, do I need a Thorazine after your incredibly wild ride that you took me on. You manage to play with the listener’s subconscious in such a way as to bring us deep inside the minds of the characters, which makes it even more unsettling and so wonderfully creepy. Thank you so much for this wild ride.”</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        window.addEventListener("resize", () => {
            // moves backstory
            if($(window).width() <= 965) {
                $('.upper-about').after($('#backstory'));
            } else {
                $('#poem').after($('#backstory'));
            }

            // moves art credits
            if($(window).width() <= 1036) {
                $('.upper-about').after($('#art-credits'));
            } else {
                $('#backstory').after($('#art-credits'));
            }
        });
    </script>
{% endblock %}
