{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'assets/artwork/purpleflower.png' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
        });
    </script>

    <title>A Garden of Terrible Blooms</title>
</head>
<body>
    <header>
        <ul id="dropdown-menu" class="dropdown-content">
            <li><a href="#!" target="_blank">Ko-fi <i class="fas fa-hand-holding-usd"></i></a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <div class="brand-logo">
                    <img src="{% static 'assets/artwork/purpleflower.png' %}" alt="flower" class="flower" />
                    <a href="{% url 'home' %}" id="title">A Garden of Terrible Blooms</a>
                    <img src="{% static 'assets/artwork/purpleflower.png' %}" alt="flower" class="flower" />
                </div>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="navlink default">
                        <a href="{% url 'home' %}">Plays</a>
                    </li>
                    <li class="navlink">
                        <a href="{% url 'performers' %}">Performers</a>
                    </li>
                    <li class="navlink">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="navlink">
                        <a class="dropdown-trigger" href="#!" data-activates="dropdown-menu">Support Us<i class="material-icons drop-arrow">arrow_drop_down</i></a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{% url 'home' %}">Plays</a></li>
                    <li><a href="{% url 'performers' %}">Performers</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li class="divider"></li>
                    <li class="sidenav-heading">Support Us:</li>
                    <li><a href="#!" target="_blank">Ko-fi <i class="fas fa-hand-holding-usd"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <p id="copyright">
                &copy; <span id='year'></span> A Garden of Terrible Blooms
            </p>
            <p>
                Web Design by <a href="https://dylanaldrich.com" target="_blank">Dylan Aldrich</a>
            </p>
            <p id="admin-link">
                <a href="{% url 'admin:index' %}">Admin</a>
            </p>
    </div>
    </footer>

    {% comment %} Current year {% endcomment %}
    <script type="text/javascript">
        $("#year").text(new Date().getFullYear());
    </script>

    {% comment %} Hamburger Menu {% endcomment %}
    <script type="text/javascript">
        $(".button-collapse").sideNav();
    </script>

    {% comment %} Active Class Toggle for Navbar {% endcomment %}
    <script type="text/javascript">
        const currentPage = $(location).attr('pathname').replace(/^\/|\/$/g, '');
        
        $('.navlink').each(function(){
            const linkText = $(this).text().toLowerCase().replace(/\s+/g, '');
            
            if(currentPage === '') {
                $('li').removeClass('active');
                return $('li.default').addClass('active');
            }

            if(linkText.includes(currentPage)) {
                return $(this).addClass('active');
            }
        });
    </script>

    {% comment %} Toggle Stitcher Icon {% endcomment %}
    <script type="text/javascript">
        $('#stitcher-podcast-logo').hover(
            function() {
                $('#stitcher-podcast-logo').html('<img src="{% static 'assets/icons/stitcher_icon_white.svg' %}" alt="stitcher icon" />');
            },
            function() {
                $('#stitcher-podcast-logo').html('<img src="{% static 'assets/icons/stitcher_icon.svg' %}" alt="stitcher icon" />');
            }
        );
    </script>

    {% comment %} Social Share Links {% endcomment %}
    <script type="text/javascript">
        const currentURL = window.location.href;
        $('.share').append(
            `<a href="https://www.facebook.com/sharer/sharer.php?u=${currentURL}" target="_blank"><i class="fab fa-facebook-square" style="color: rgb(66,103,178);"></i></a>`,
            `<a href="https://twitter.com/intent/tweet?url=${currentURL}&text=" target="_blank"><i class="fab fa-twitter-square" style="color: rgb(85,172,238);"></i></a>`,
            `<a href="https://www.linkedin.com/shareArticle?mini=true&url=${currentURL}" target="_blank"><i class="fab fa-linkedin" style="color: rgb(0,119,181);"></i></a>`
        );
    </script>
</body>
</html>

