{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-header">
        <img src="{% static 'assets/artwork/flycatcher_cassietaggart.jpg' %}" alt="sweet nectar by cassie taggart" />
    </section>
    <div class="outer-box">
        <div class="inner-box">
            <div class="headline">
                <h1>Meet The Cast</h1>
            </div>
            <i class="material-icons dp48" id="expand_more">expand_more</i>
        </div>
    </div>

    <section id="bios-container">
        {% for actor in actors %}
            <div class="col s12 m7" id="{{ actor.name }}">
                <h4 class="header">{{ actor.name }}</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../../media/{{ actor.photo }}" alt="{{actor.name}} headshot">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{ actor.bio }}</p>
                        </div>
                        <div class="card-action">
                            <div id="featured-episodes">
                                <span>Featured in:</span>
                                {% for episode in actor.episodes.all %}
                                    <a href="{% url 'episode_detail' episode.id %}">{{ episode.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" id="actor-socials">
                        <a href="{{ actor.website }}">
                            <i class="fas fa-user"></i>
                        </a>
                        <a href="{{ actor.facebook }}">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="{{ actor.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="{{ actor.instagram }}">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}