{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="row">
        <img src="{% static 'assets/artwork/thereordering_cassietaggart.jpg' %}" alt="the reordering by cassie taggart" class="col s6" />
        <div class="col s6">
            <div class="container">
                <h2>{{ episode.name }}</h2>
                <p>{{ episode.description }}</p>
                <section class="audio">
                    <audio controls>
                        <source src="../../media/{{ episode.audioFile }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="logos">
                        <section id="logo-cover">
                            <i class="fas fa-hand-point-right"></i>
                            <span>Podcast Apps</span>
                        </section>
                        <a href="#" id="apple-podcast-logo">
                            <i class="fas fa-podcast"></i>
                        </a>
                        <a href="#" id="google-podcast-logo">
                            <i class="fab fa-google-play"></i>
                        </a>
                        <a href="#" id="spotify-podcast-logo">
                            <i class="fab fa-spotify"></i>
                        </a>
                    </div>
                </section>
                <h5>Actor credits:</h5>
                <section id="actor-avatar-container">
                    {% for actor in episode.actors.all %}
                        <a href="{% url 'bios' %}">
                            <div class="actor-avatar">
                                <img src="../../media/{{ actor.photo }}" alt="{{actor.name}} headshot">
                                <p>{{ actor.name }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </section>
            </div>
        </div>
    </section>
{% endblock %}