{% extends 'base.html' %}

{% block content %}
    <section id="home-header"></section>
    <div class="outer-box">
        <div class="inner-box">
            <div class="headline">
                <h1>A Theatre Podcast</h1>
                <h4>Based on the works of Sharon Yablon</h2>
            </div>
            <i class="material-icons dp48" id="expand_more">expand_more</i>
        </div>
    </div>
    
    <section id="episodes-box">
        <h3 class="episode-heading">Latest Episode</h3>
        {% if latest_Episode %}
            <div id="latest-episode">
                <a href="{% url 'episode_detail' latest_Episode.id %}">
                    <img src="media/{{ latest_Episode.image }}" alt="episode image" id="latest-episode-image" />
                </a>
                <div id="latest-episode-info">
                    <h4>
                        <a href="{% url 'episode_detail' latest_Episode.id %}">{{ latest_Episode.name }}</a>
                    </h4>
                    <p>{{ latest_Episode.description }}</p>
                    <audio controls="true">
                        <source src="media/{{ latest_Episode.audioFile }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% comment %} TODO Add external streaming link icons here: {% endcomment %}
                    <p>
                        <a href="{{ latest_Episode.external_Link }}">Stream Link</a>
                    </p>
                </div>
            </div>
            {% if episodes|length >= 1 %}
                <h3 class="episode-heading">Past Episodes</h3>
                <div class="past-episodes-grid">
                    {% for episode in episodes %}
                        <p>{{ episode.name }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>No episodes to show yet!</p>
        {% endif %}
    </section>
{% endblock %}
