{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-header">
        <img src="{% static 'assets/artwork/babyhouse_cassietaggart.jpg' %}" alt="sweet nectar by cassie taggart" id="performers-header" />
    </section>
    <div class="outer-box">
        <div class="inner-box">
            <div class="headline">
                <h1>Meet The Performers</h1>
            </div>
            <i class="material-icons dp48" id="expand_more">expand_more</i>
        </div>
    </div>

    <section class="performers-container">
        {% if performers.count > 0 %}
            {% for performer in performers %}
                <div class="col s12 m7" id="{{ performer.name }}">
                    <h4 class="header">{{ performer.name }}</h4>
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>{{ performer.bio.html|safe }}</p>
                            </div>
                            <div class="card-action">
                                <div id="featured-plays">
                                    <span>Featured in:</span>
                                    {% for play in performer.plays.all %}
                                        <a href="{% url 'play_detail' play.id %}">{{ play.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="horizontal socials">
                            <a href="{{ performer.website }}">
                                <i class="fas fa-user"></i>
                            </a>
                            <a href="{{ performer.facebook }}">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="{{ performer.twitter }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="{{ performer.instagram }}">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5 id="nothing-performer">Nothing to see here! Performer information coming soon.</h5>
        {% endif %}
    </section>
{% endblock %}