{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-header"></section>
    <script>
        $(".page-header").css({"background-image": "url({% static 'assets/artwork/babyhouse_cassietaggart.jpg' %})", "background-position": "50% 100%"});
    </script>
    <div class="headline-box">
        <div class="headline">
            <h3 id="performer-headline">Meet The Performers</h3>
        </div>
        <i class="material-icons dp48 performer-chevron" id="expand_more">expand_more</i>
    </div>

    <section class="performers-container">
        {% if performers.count > 0 %}
            {% for performer in performers %}
                <div class="card s12 m4 performer-card" id="{{ performer.name }}" style="overflow: visible;">
                    <div class="card-content">
                        {% if performer.bio.html|length %}
                            <span class="card-title activator white-text text-darken-4">
                                {{ performer.name }}
                            </span>
                            <div class="performer-icon-line">
                                    <i class="far fa-user activator  text-darken-4 performer-icon"></i>
                                {% if performer.imdb %}
                                    <a href="{{ performer.imdb }}" target="_blank">
                                        <i class="fab fa-imdb performer-icon"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% else %}
                            <span class="card-title white-text text-darken-4">
                                {{ performer.name }}
                                {% if performer.imdb %}
                                    <p class="imdb">
                                        <a href="{{ performer.imdb }}" target="_blank">
                                            <i class="fab fa-imdb performer-icon"></i>
                                        </a>
                                    </p>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>

                    <div class="card-action">
                        <div id="featured-plays">
                            <span>Featured in:</span>
                            <div>
                                {% for play in performer.plays.all %}
                                    <p>
                                        <a href="{% url 'play_detail' play.id %}" class="featured-play-link">{{ play.name }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <span class="card-title grey-text text-darken-4">Bio<i class="material-icons right">close</i></span>
                        <p>{{ performer.bio.html|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5 id="nothing-performer">Nothing to see here! Performer information coming soon.</h5>
        {% endif %}
    </section>
{% endblock %}