{% extends 'index.html' %}
{% load static %}

{% block content %}
    <section class="page-header" id="babyhouse"></section>
    <script type="text/javascript">
        // load mobile/full resolution artwork
        if($(window).width() <= 450) {
            $(".page-header").css({"background-image": "url({% static 'assets/artwork/babyhouse_cassietaggart_mobile.jpg' %})", "background-position": "50% 100%"});
        } else {
            $(".page-header").css({"background-image": "url({% static 'assets/artwork/babyhouse_cassietaggart.jpg' %})", "background-position": "50% 100%"});
        }
        
    </script>
    <div class="headline-box">
        <div class="headline">
            <h3 id="performer-headline">Meet The Artists</h3>
        </div>
        <i class="fas fa-chevron-down" id="performer-chevron"></i>
    </div>

    <section class="performers-container">
        {% if performers.count > 0 %}
            {% for performer in performers %}
                <div class="card performer-card" id="{{ performer.name }}" style="overflow: visible;">
                    <div class="card-content">
                        {% if performer.bio.html|length %}
                            <span class="card-title activator white-text text-darken-4">
                                {{ performer.name }}
                            </span>
                            <div class="performer-icon-line">
                                <span class="performer-icon text-darken-4 activator">Bio</span>
                                {% if performer.imdb %}
                                    <a href="{{ performer.imdb }}" rel="noopener" target="_blank">
                                        <i class="fab fa-imdb performer-icon"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% else %}
                            <span class="card-title white-text text-darken-4">
                                {{ performer.name }}
                                {% if performer.imdb %}
                                    <p class="imdb">
                                        <a href="{{ performer.imdb }}" rel="noopener" target="_blank">
                                            <i class="fab fa-imdb performer-icon"></i>
                                        </a>
                                    </p>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>

                    <div class="card-action">
                        <div id="featured-plays">
                            <span>Featured in:</span>
                            <div>
                                {% if performer.plays.count > 0 %}
                                    {% for play in performer.plays.all %}
                                        <p>
                                            <a href="{% url 'play_Detail' play.id %}" class="featured-play-link">{{ play.name }}</a>
                                        </p>
                                    {% endfor %}
                                {% else %}
                                    <p class="coming-soon">To be announced! Stay tuned.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <span class="card-title grey-text text-darken-4">Bio<i class="fas fa-times right"></i></span>
                        <p>{{ performer.bio.html|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5 id="nothing-performer">Nothing to see here! More artist information coming soon.</h5>
        {% endif %}
    </section>
{% endblock %}