{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="row">
        <img src="{% static 'assets/artwork/thereordering_cassietaggart_lores.jpg' %}" alt="the reordering by cassie taggart" class="col the-reordering"  />
        <div class="col s6">
            <div class="container tale">
                <h2>{{ tale.name }}</h2>
                <p>Released: {{tale.date_Added|date:"F j, Y"}}</p>
                <p>{{ tale.description }}</p>
                <section class="audio">
                    <audio controls>
                        <source src="../../media/{{ tale.audioFile }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="logos">
                        <section id="logo-cover">
                            <i class="fas fa-hand-point-right"></i>
                            <span>Subscribe</span>
                        </section>
                        <a href="#" id="apple-podcast-logo" target="_blank" title="Apple Podcasts">
                            <i class="fas fa-podcast"></i>
                        </a>
                        <a href="#" id="google-podcast-logo" target="_blank" title="Google Podcasts">
                            <i class="fab fa-google-play"></i>
                        </a>
                        <a href="#" id="spotify-podcast-logo" target="_blank" title="Spotify Podcasts">
                            <i class="fab fa-spotify"></i>
                        </a>
                        <a href="#" id="stitcher-podcast-logo" target="_blank" title="Stitcher Podcasts">
                            <img src="{% static 'assets/icons/stitcher_icon.svg' %}" alt="stitcher icon" />
                        </a>
                    </div>
                </section>
                <hr>
                <h5>Meet The Cast:</h5>
                <div id="performer-avatar-container">
                    {% for performer in tale.performers.all %}
                        <a href="{% url 'performers' %}#{{ performer.name }}" class="performer-link hoverable">{{ performer.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}