@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


:root {
    --main-bg-color: rgb(46, 44, 45);
    --main-bg-color-trans: rgba(46, 44, 45, 0.6);
    --link-color: rgb(159,86,216);
    --nav-height: 49px;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    height: max-content;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}

header, main, footer {
    max-width: 1270px;
}

main {
    flex: 1 0 auto;
    background-color: whitesmoke;
    min-height: 90%;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--main-bg-color-trans);
}

.page-footer {
    padding-top: 0;
}

.page-footer .footer-copyright {
    color: white;
    position: relative;
}

header {
    height: var(--nav-height);
}

header, footer {
    width: 100%;
}

nav {
    background-color: var(--main-bg-color);
    height: 100%;
}

nav a.button-collapse, nav a.button-collapse i {
    height: var(--nav-height);
    line-height: var(--nav-height);
}

.nav-wrapper {
    height: 100%;
}

nav .brand-logo {
    width: fit-content;
    height: 100%;
    margin-left: 10px;;
    display: flex;
    align-items: center;
}

.navlink a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

nav ul li.active {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

nav ul li.active a {
    color: var(--link-color);
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.fa-caret-down {
    padding-left: 7px;
    margin-bottom: 2px;
}

.side-nav {
    width: max-content;
    height: max-content;
    overflow-y: visible;
    padding-bottom: 0;
}

.side-nav li>a {
    color: var(--link-color);
    font-weight: bold;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.side-nav li>a>i {
    color: var(--link-color);
    margin: 0 0 0 10px;
}

.sidenav-heading {
    color: black;
    font-weight: bold;
    padding: 0 25px;
}

.sidenav-heading:hover {
    background-color: white;
}

#dropdown-menu {
    margin-top: var(--nav-height);
}

.dropdown-content li>a {
    color: var(--link-color);
    height: 50px;
    padding: 14px 0 14px 16px;
}

.dropdown-content li>a>i {
    height: inherit;
    line-height: inherit;
    float: none;
    margin: 0 10px 0 10px;
}

#title {
    font-family: 'Raleway', sans-serif;
    padding: 0 10px;
    font-size: 27px;
}

.flower {
    height: 38px;
}

.page-footer {
    background-color: var(--main-bg-color);
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-copyright p a {
    color: var(--link-color);
    font-weight: bold;
}

#admin-link {
    position: absolute;
    right: 15px;
}

#copyright {
    position: absolute;
    left: 15px;
}

.page-header {
    height: 86vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#performers-header {
    object-position: bottom;
}

.headline-box {
    transform: translateY(-50%);
    background-color: var(--main-bg-color);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-bottom: -50px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 6px 12px -7px rgba(0, 0, 0, .45);
    -webkit-box-shadow: -5px 6px 12px -7px rgba(0, 0, 0, .45);
    -moz-box-shadow: -5px 6px 12px -7px rgba(0, 0, 0, .45);
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.headline {
    text-align: center;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    margin: 10px 0 10px 25px;
}

.headline span {
    font-style: italic;
    font-weight: bolder;
}

#created-by {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    padding-top: 2px;
    margin: 3px;
}

.fa-chevron-down {
    animation: bounce 2s infinite;
    font-size: 37px;
    margin: 0 3%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

h1 {
    margin: 5px 0 8px 0;
}

#latest-play-title {
    margin-top: 0;
}

#latest-play-title a {
    color: var(--link-color);
    font-weight: bold;
}

#latest-play-title a:hover {
    filter: opacity(70%);
}

audio {
    width: 100%;
    height: 57px;
}

audio::-webkit-media-controls-panel {
    background-color: #dfe6e9;
}

audio:focus {
    outline: none;
}

.share {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.share span {
    font-size: 22px;
    line-height: 1;
}

.share a {
    margin-left: 8px;
    font-size: 28px;
    line-height: 20px;
}

.share a:hover {
    transform: scale(1.1);
}

#plays-box {
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
}

#latest-play {
    display: flex;
    align-items: center;
}

#latest-play-photo, #latest-play-photo a{
    max-height: 325px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#latest-play-photo a img {
    width: 100%;
}

#latest-play-info {
    margin-left: 25px;
    text-align: center;
}

#latest-play-description {
    min-height: 30%;
    padding-bottom: 5px;
}

.byline {
    text-align: center;
}

#latest-play-info .byline {
    padding-bottom: 10px;
}

#past-plays-heading {
    margin: 45px 0 10px 0;
}

.row .col {
    padding: 0;
}

.row  {
    display: flex;
    margin-bottom: 0;
}

#past-plays-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card {
    height: max-content;
    display: inline-block;
    background-color: var(--main-bg-color);
}

.card .card-action {
    padding: 16px 24px;
}

.card-image img {
    height: 39.5vh;
    object-fit: cover;
}

.card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.card-content a {
    color: white;
}

.card-content a:hover {
    color: var(--link-color);
}

.btn-floating {
    background-color: var(--link-color);
}

.btn-floating:hover {
    background-color: white;
}

.btn-floating:hover i {
    color: var(--link-color);
}

.audio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTION EPISODE DETAIL PAGE */

.play-detail-page {
    display: flex;
    height: 100%;
    align-items: center;
}

.play-detail-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    height: fit-content;
}

#play {
    width: 100%;
    text-align: center;
}

#play h4 {
    font-weight: bold;
    margin-top: 0;
}

#play p {
    margin-bottom: .6rem;
}

hr {
    border: black solid 1px;
    margin-top: 14px;
}

.logos {
    font-size: 25px;
    margin-top: 10px;
    height: 56px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform .3s linear;
    border-radius: 30px;
}

.logos:hover {
    transform: scale(1.1);
}

.logos a {
    flex: 1;
    background-color: #dfe6e9;
    height: 100%;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-100%);
    opacity: 0;
    transition: .3s linear;
    overflow: hidden;
    outline: hidden;
}

.logos:hover a {
    transform: translateX(0);
    opacity: 1;
}

.logos a:hover {
    transform: scale(1.2);
    color: #f1f1f1;
}

.logos a span {
    font-size: 10px;
    line-height: 1;
    padding-top: 3px;
}

#apple-podcast-logo:hover {
    background-color: rgb(168,76,215);
}

#amazon-podcast-logo:hover {
    background-color: rgb(21,170,191);
}

#google-podcast-logo:hover {
    background-color: rgb(66,133,244);
}

#google-podcast-logo img {
    height: 27px;
}

#stitcher-podcast-logo img {
    width: 35px;
    height: 17px;
    margin-top: 4px;
}

#stitcher-podcast-logo span {
    padding-top: 7px;
}

#stitcher-podcast-logo:hover {
    background-color: rgb(243,192,23);
}

#logo-cover {
    position: absolute;
    z-index: 2;
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    transition: .4s linear;
    font-size: 25px;
    line-height: 1;
}

.logos:hover #logo-cover {
    transform: translateX(-105%);
}

#logo-cover span {
    padding-left: 10px;
}

.side-image {
    max-width: 50%;
    max-height: 100vh;
    height: fit-content;
}

.meet-the-performers {
    margin-bottom: 15px;
}

#performer-link-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card .card-content.play-title {
    padding: 2.5vh;
}

.performer-link {
    background-color: var(--main-bg-color);
    color: var(--link-color);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 13px;
    margin: 0 5px 10px;
}

.performer-link:hover {
    color: white;
}

#ascap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
}

#ascap img {
    height: 51px;
    margin-left: 8px;
}

#ascap p {
    margin-bottom: 0;
    font-size: 13px;
}

#ascap p span {
    display: none;
}

/* SECTION PERFORMER BIOS PAGE */

#babyhouse {
    width: 100vw;
    max-width: 1270px;
}

#performer-headline {
    font-size: 28px;
    margin: 0;
}

#performer-chevron {
    font-size: 26px;
}

.performers-container {
    margin: 5vh 10% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.performer-card {
    width: 49%;
    height: revert;
}

.performer-card .card-content {
    padding-bottom: 16px;
}

.card .card-content .card-title {
    display: contents;
}

#featured-plays span {
    color: white;
    margin-right: 10px;
    display: block;
}

#featured-plays div {
    display: inline-flex;
    flex-wrap: wrap;
}

#nothing-performer, #nothing-play {
    text-align: center;
    margin-bottom: 10vh;
}

.performer-icon {
    color: var(--link-color);
    font-size: 32px;
}

span.performer-icon {
    background-color: var(--link-color);
    color: var(--main-bg-color);
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;
    line-height: 1;
    font-size: 24px;
    margin-bottom: 1px;
}

.fa-imdb {
    font-size: 37px;
}

.performer-icon-line {
    display: flex;
    align-items: center;
    width: 83px;
    justify-content: space-between;
}

.performer-icon-line, .imdb {
    padding-top: 7px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: var(--link-color);
    text-transform: none;
    font-weight: bold;
}

.performer-icon:hover, .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: white;
}

span.performer-icon:hover {
    color: var(--main-bg-color);
    background-color: white;
}

.card ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

/* SECTION ABOUT PAGE */

.upper-about {
    display: flex;
}

.baby-image {
    max-width: 50%;
    object-fit: contain;
    height: 100%;
    margin: 4vh 0 0 4vh;
}

#creator-content, .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-content {
    margin: 4vh 4vh 0;
}

#creator-content {
    margin: 2vh 4vh 4vh;
}

#poem {
    text-align: center;
}

#byline {
    font-size: 12px;
    line-height: 2.5;
}

#poem {
    font-style: italic;
    font-weight: bold;
}

#tagline {
    font-weight: bold;
    font-size: 16px;
}

#backstory {
    text-align: justify;
    margin: 13px auto;
}

#art-credits {
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
}

#art-credits div p a {
    color: var(--link-color);
    font-weight: bold;
}

#art-credits div p a:hover {
    text-decoration: underline;
}

.play-title {
    font-style: italic;
}

#about-content h4 {
    text-align: center;
    margin: 0 8px;
}

.dahlia {
    height: 45px;
    animation: rotate 20s linear infinite;
    margin: 0 10px;
}

@keyframes rotate {
    to{ transform: rotate(360deg); }
}

#creators-headline {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    text-decoration: underline;
    text-underline-offset: 3px;
}

#creator-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.creator-square {
    background-color: var(--main-bg-color);
    width: 48%;
    height: revert;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-square p {
    padding: 15px;
    text-align: justify;
    margin: 0;
}

.creator-square h5 {
    margin: 0;
}

#creator-container h4 {
    margin-top: 2.5vh;
}

h5 {
    text-align: center;
    font-size: 1.5rem;
}

p.creator-bio p {
    padding: 15px;
    color: white;
}

.creator-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    width: 100%;
    height: 6vh;
    margin-top: auto;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.fa-envelope {
    font-size: 3vh;
    padding: 5px;
}

.creator-contacts a {
    color: var(--link-color);
}

.creator-contacts a:hover {
    color: white;
}

/* ERROR PAGES */

.error-page {
    position: relative;
    text-align: center;
    color: var(--main-bg-color);
    height: 100vh;
    overflow: hidden;
}

.error-page img {
    width: 100%;
}

.whoops {
    position: absolute;
    display: block;
    margin: 0;
    padding: 15px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
}

.whoops a {
    color: var(--link-color);
    margin-top: 100px;
}

.whoops a:hover {
    filter: opacity(70%);
}